<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001513125735-to4ra6cc0477mt413ppvc5mvp0f9hq14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001513125735-to4ra6cc0477mt413ppvc5mvp0f9hq14</string>
	<key>API_KEY</key>
	<string>AIzaSyB3aOMeQWlQ_CL68asQuj31NwZpKid51jk</string>
	<key>GCM_SENDER_ID</key>
	<string>1001513125735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mooxalinsky.Breaking-News</string>
	<key>PROJECT_ID</key>
	<string>breaking-news-616e3</string>
	<key>STORAGE_BUCKET</key>
	<string>breaking-news-616e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001513125735:ios:d69f060cd9960b7000d1c2</string>
</dict>
</plist>